.Mail/
.Scilab/
.Skype/
.VirtualBox/
.Xauthority
.Xdefaults.old
.abook/
.adobe/
.appletviewer
.apvlvinfo
.asoundrc
.audacity-data/
.bash_history
.bash_history.bak
.bash_profile
.bashprompt
.cache/
.calcurse/
.config/Trolltech.conf
.config/chromium/
.config/comix/
.config/feh/
.config/gcstar/
.config/gnome-mplayer/
.config/gtk-2.0/
.config/libfm/
.config/mcomix/
.config/pcmanfm/
.config/ranger/
.config/surfraw/
.config/transmission/
.config/user-dirs.dirs
.config/vlc/
.dbus/
.dvdcss/
.easytag/
.fehbg
.fontconfig/
.fonts/
.gEDA/
.gconf/
.gconfd/
.git-completion.bash
.gitconfig
.gntpositions
.gnupg/
.gnuplot-wxt
.gnuplot_history
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0.bak
.gtkrc.mine
.hnb
.hnbrc
.htoprc
.icedteaplugin/
.inputrc
.irssi/
.john/
.lesshst
.links/
.local/
.lyrics/
.macromedia/
.mc/
.moc/
.mozilla/
.mplayer/
.muttrc
.netbeans/
.netx/
.nv/
.nvidia-settings-rc
.offlineimap/
.offlineimaprc
.pki/
.pulse-cookie
.pulse/
.purple/
.pw/
.smc/
.snownews/
.ssh/
.subversion/
.themes/
.thumbnails/
.thunderbird/
.vifm/
.vim/
.viminfo
.vimperator/
.vimrc.20120108
.wireshark/
.wxMaxima
.xdg_menu_cache/
.xdvirc
.xsession
abs/
bin/
brummer
downloads/
entertainment/
installed_software_20120108
ktde.keymaster
mirrorlist
misc/
pacman_cache_20120108.tgz
programming/
pumuckl/
tmp/
ttde.keymaster
vic
.config/awesome/themes/awesome-solarized/
.birthdays

# ignore everything
*

# except the following
!.awesome
!.config
!.ncmpcpp
!.Xresources
!.abcde.conf
!.bash_aliases
!.bashrc
!.dircolors
!.gitignore
!.screenrc
!.vimrc
!.xinitrc
!useful_commands
